= render 'layouts/header', title: "About Traditional Remedy Resource"

%section.container
  .col-sm-8
    %p
      This site was made to compile traditional information about natural medicinal
      remedies from cultures the world over. The database is simple and easy to use. I intend
      to add a text-search feature in the future to make research even easier.
